
.App{
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  height: 100vh;
}
#card-playlist {
  background-color: rgb(255, 255, 255, 0.5);
  display: inline-flex;
  border: solid 1px black;
  max-width: 40vw;
  padding: 1.5em;
  border-radius: 1em;
  border:none;
  box-shadow: .2em .2em .8em rgb(199, 199, 199);
}
#track-img{
  width: 10vw;
  height: auto;
  border-radius: .5em;
}
.detail{
  margin-left: 1em;
}
#track-title{
  margin-top: 0;
}
#track-button{
  background-color: rgb(216, 216, 216);
  border-radius: 2em;
  border: none;
  padding: .7em .7em .7em .8em;
}
#track-button:hover{
  background-color: rgb(177, 177, 177);
}
.triangle-right {
	width: 0;
	height: 0;
	border-top: .5em solid transparent;
	border-left: 1em solid white;
	border-bottom: .5em solid transparent;
}